* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* navigation styling */

.wrapper {
    position: fixed;
    width: 100%;
    background-color: crimson;
    font-family: sans-serif;
    padding: 15px 0;
}

/* Target only the links */

.wrapper .menu-bar li a{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
    
}


.wrapper .menu-bar li {
    list-style:none;
    display: inline-block;
    position: relative;

}

.wrapper .menu-bar li a:hover {
    color: rgb(18, 233, 233);

}
.wrapper .logo a{
    color: #fff;
    font-weight: 600;
    font-size: 35px;
    align-items: center;
 
}

.wrapper .logo a:hover {
    color:rgb(18, 233, 233);
}   

.wrapper .max-width{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.wrapper .menu-bar ul {
    display: none;
    position: absolute;
    background-color: #fff;
    justify-content: space-around;
    padding: 20px 14px;
    border-radius: 4px;
}

.wrapper .menu-bar ul li {
    width: 180px;
    margin-top: 15px;
}

.wrapper .menu-bar ul li a{
    padding: 10px 10px;
    color: black;
    
}

.wrapper .menu-bar ul li a:hover {
    background-color: cornflowerblue;
    display: block;
    border-radius: 4px;
}

.wrapper .menu-bar li:hover ul  {
    display:block;
}

/*style for the main content*/

.main-content {
    display:flex;
    background: url('pictures/anton-darius-5Kt4DKFUiQk-unsplash.jpg')no-repeat center ;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: sans-serif;

}

.main-content .max-width {
    margin: auto 0 auto 40px;
    /* margin: 0 40px; */
}

.main-content .mainpage-content .text1 {
    font-size: 35px;
}

.main-content .mainpage-content .text2 {
    font-size: 85px;
    font-weight: 600px;
    margin-left: -3px;
}

.main-content .mainpage-content .text3 {
    font-size: 40px;
    margin: 5px 0;
}

.main-content .mainpage-content .text3 span {
    color: red;
    font-weight: 600;
}

/* Button Styling */

.main-content .max-width .mainpage-content .hire-me-button a {
    display: inline-block;
    background-color: crimson;
    color: #fff;
    font-size: 25px;
    margin-top: 20px;
    padding: 20px 36px;
    border-radius: 10px;
    font-weight: 600;
}

.main-content .max-width .mainpage-content .hire-me-button a:hover {
    color: rgb(18, 233, 233);
    border: 2px solid;
    /* box-shadow: 0 5px 50px 0 rgb(18, 233, 233) inset, 0 4px 40px 0 rgb(18, 233, 233), 0 4px 40px 0 rgb(18, 233, 233) inset, 0 4px 40px 0 rgb(18, 233, 233) ; */
    box-shadow: 0 1px 10px 0 rgb(18, 233, 233) inset, 0 1px 10px 0 rgb(18, 233, 233), 0 1px 10px 0 rgb(18, 233, 233) inset, 0 1px 10px 0 rgb(18, 233, 233) ;
}


/* About Me Section Styling */

.aboutme {
    font-family: 'Poppins', sans-serif;
    background-image: url('pictures/change-background-color-on-wix.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.aboutme .max-width .aboutMe-title {
    font-family: 'Poppins', sans-serif;
    text-align:center;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
    margin-bottom: 50px;
    /* margin-top: 60px; */
    /* position: relative; */
    /* color: white; */
    padding-top: 40px;
    color: rgb(7, 7, 7);
    
}
/* 
.aboutme .max-width .aboutMe-title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 42.5%;
    width: 180px;
    height: 3px;
    background: #111;
}

.aboutme .max-width .aboutMe-title::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 42.5%;
    width: 180px;
    height: 3px;
    background: #111; */
/* } */

.aboutme .max-width .aboutme-content {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
}

.aboutme .max-width .aboutme-content .left-column {
    width: 45%;
}


.aboutme .max-width .aboutme-content .left-column img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    padding-bottom: 70px;
   
}

.aboutme .max-width .aboutme-content .right-column {
    width: 42%;
}

.aboutme .max-width .aboutme-content .right-column a {
    display: inline-block;
    background-color: crimson;
    color: #fff;
    font-size: 15px;
    margin-top: 25px;
    padding: 10px 26px;
    border-radius: 10px;
    font-weight: 600;
    
}

.aboutme .max-width .aboutme-content .right-column a:hover {
    color: rgb(18, 233, 233);
    border: 2px solid;
    box-shadow: 0 1px 10px 0 rgb(18, 233, 233) inset, 0 1px 10px 0 rgb(18, 233, 233), 0 1px 10px 0 rgb(18, 233, 233) inset, 0 1px 10px 0 rgb(18, 233, 233) ;
}

.aboutme .max-width .right-column .about-me-text {
    font-size: 25px;
    margin-bottom: 10px;
}

.aboutme .max-width .right-column .about-me-text span{
    color: crimson;
    font-weight: 500;
    font-size: 25px
}

.aboutme .max-width .right-column p{
    font-size: 15px;
  
}

/* Skills Style Section */



.skills-content .max-width {
    max-width: 100%;
    /* margin: 150px auto 0; */
    font-family: 'Poppins', sans-serif;
    background-image: url('pictures/dd4d60009fe992f067e9e0371e991115.jpg');
    /* align-items: center; */
    margin-top: -3.25%;
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
    position:relative;
    height: 73.5vh;
}

.skills-content .max-width .skills {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: -20px;
    margin-top: 60px;
    /* display: inline-block; */
    position: relative;
    color: white
}


.skills-content .max-width .only-the-bars {
    margin-left: 15%;
    position: relative;  
}

.skills-content .max-width .only-the-bars abbr {
    width: 50px;
    display: inline-block;
    height: 35px;
    border-radius: 50px;
    text-align: center;
    line-height: 35px;  
    top: 28.5px;
    z-index: 1;
    background: linear-gradient(to left, crimson, yellow);
    box-shadow: 0 5px 20px  crimson,  0 5px 20px  yellow;
    position: absolute;
    animation: percent 4s ease;
}

@keyframes percent {
    from {
        left: 0%;
    }
}

.skills-content .max-width .only-the-bars .skills-container .one {
    left: 55%;
   
}

.skills-content .max-width .only-the-bars .skills-container .two {
    left: 65%;
}

.skills-content .max-width .only-the-bars .skills-container .three {
    left: 80%;
}





.skills-content .max-width .skills-container {
    font-family: 'Poppins', sans-serif;
    /* text-align:center; */
    font-size: 20px;
    font-weight: 600;
    /* padding-bottom: 20px; */
    margin-bottom: 60px;
    margin-top: 60px;
    position: relative;
    font-weight: 500;
    color: white;
    /* display: inline-block; */

}

.skills-content .max-width .skills-container span {
    position: static;
    display: inline-block;
    width: 80%;
    height: 25px;
    border-radius: 50px;
    background: black;
    
}

.skills-content .max-width .skills-container span:before {
    position: absolute;
    content: '';
    top: 6px;
    left: 5px;
    width: 80%;
    height: 25%;
    background: linear-gradient(to left, crimson, yellow);
    animation: statsbar 4s ease;
    border-radius: 5px;
    margin-top: 33px;
}

@keyframes statsbar{
    from {
        width: 0%;
        /* background-color: linear-gradient(to left, crimson); */
    } to { 
        /* background-color: linear-gradient(to left, yellow); */
    }
}
/* this controls JQUERY/Javascript */
/* .skills-content .max-width .skills-container:nth-child(1) span:before {
    width: 90%;
} */
/* this controls HTML/HTML5 */
/* .skills-content .max-width .skills-container:nth-child(2) span:before {
    width: 90%;
} */
/* this controls css/css3 */
/* .skills-content .max-width .skills-container:nth-child(3) span:before {
    width: 90%; 
} */

.skills-content .max-width .skills-container .one:before {
    width: 55%;
}

.skills-content .max-width .skills-container .two:before {
    width: 65%;
}

.skills-content .max-width .skills-container .three:before {
    width: 80%;
}

.skills-content .max-width .hire-me-button {
    font-family: 'Poppins', sans-serif;
    /* display: inline-block; */
    background-color: crimson;
    color: #fff;
    font-size: 25px;
    /* margin-top: -45px; */
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 600;
    margin-left: 45.5%;
    width: 170px;
    text-align:center;
    /* position: absolute; */
 
    
}

.skills-content .max-width .hire-me-button:hover {
    color: rgb(18, 233, 233);
    border: 2px solid;
    box-shadow: 0 1px 10px 0 rgb(18, 233, 233) inset, 0 1px 10px 0 rgb(18, 233, 233), 0 1px 10px 0 rgb(18, 233, 233) inset, 0 1px 10px 0 rgb(18, 233, 233) ;
}

/* Projects Style Section */

.projects-content {
    font-family: 'Poppins', sans-serif;
    background-image: url('pictures/html-color-codes-color-tutorials.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.projects-content .max-width .projects-title {
    font-family: 'Poppins', sans-serif;
    text-align:center;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 20px;
    margin-bottom: 50px;
    /* margin-top: 60px; */
    position: relative;
    /* color: white; */
    padding-top: 40px;
    color: rgb(7, 7, 7);
    
}


.projects-content .max-width .projects-container  {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
}

.projects-content .max-width .projects-container .left-column {
    width: 45%;
    
}


.projects-content .max-width .projects-container .left-column img {
    height: 500px;
    width: 100px;
    object-fit: cover;
    padding-bottom: 70px;
    /* display: inline block; */
}

.projects-content .max-width .projects-container .left-column .projects-links:hover {
    transform: rotate(3deg);
    
}

.projects-content .max-width .projects-container .right-column {
    width: 42%;
    margin-bottom: 70px;
}

.projects-content .max-width .projects-container .right-column a {
    display: inline-block;
    background-color: crimson;
    color: #fff;
    font-size: 15px;
    margin-top: 25px;
    padding: 10px 26px;
    border-radius: 10px;
    font-weight: 600;
    
}

.projects-content .max-width .projects-container .right-column a:hover {
    color: rgb(18, 233, 233);
    border: 2px solid;
    box-shadow: 0 1px 10px 0 rgb(18, 233, 233) inset, 0 1px 10px 0 rgb(18, 233, 233), 0 1px 10px 0 rgb(18, 233, 233) inset, 0 1px 10px 0 rgb(18, 233, 233) ;
}

.projects-content .max-width .right-column .about-me-text {
    font-size: 25px;
    margin-bottom: 10px;
}

.projects-content .max-width .right-column .about-me-text span{
    color: crimson;
    font-weight: 500;
    font-size: 25px
}

.projects-content .max-width .right-column p{
    font-size: 15px;
  
}


@media screen and (max-width: 992px) {
    body {
      width: 50%
    }
   
  }
  
@media screen and (max-width: 768px) {
    body {
      width: 100%
    }
   
  }



  /* @media screen and (max-width: 768px) {
    header,
    main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }
  } */